.headercontact{
    padding-left: 20px;
}
.button_create{
    position: fixed;
    bottom: 20px;
    right: 20px; 

}

.form-element {
    padding: 5px 5px 25px 2px;
    width: 100%;
  }
  table {
    width: 100%;
    
  }
  
th.mat-sort-header-sorted {
    color: black;
  }
.container{
    width: 95%;
    margin-bottom: 20px;
}

.mat-row.hovered {
  background: #eee;
}

.mat-row.highlighted {
  background: #999;
}
.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}