.example-app-name {
    margin-left: 8px;
}
.example-container{
    position: absolute;
    top: 60px;
    bottom: 30px;
    left: 0;
    right: 0;
  }
  .example-sidenav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100%;
  }
  .example-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
  }

.aligndash{
    padding-left:15px;
    padding-top:15px;
}
.men{
min-height: 140px;
min-width: 280px;
}

.example-card{
  max-width: 277px;
  max-height: 220px;
}

.example-header-image{
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
#teste{
  text-align: center; 
  font-size: 20px;
  position: relative;
    left: 0px;
    top: -74px;
}
#testa{
  position: relative;
  top: -56px;
  text-align: center;
  font-size: 20px;  
  font-weight: bold;
}
.btna{
  position: relative;
  top: -56px;
}
.mat-card-image:first-child {
  margin-top: -24px;}
  .mat-menu-content:not(:empty) {
    padding-top: 8px;
    padding-bottom: 1px;}
  
