.headercontact{
    padding-left: 20px;
}
.showbox{
    padding: 10px;
    margin: 10;
    background-color: white;
    margin-bottom: 20px;
    margin-right: 10px;
}
.content {
    text-align:center;
}
// .blaa{
//     vertical-align:top;
//     display:inline-block;   
// }
.material-icons.md-48 {
     font-size: 48px; 
    background-color:  yellowgreen;
    color: whitesmoke;
    padding: 5px;
    margin-top: -23px;
    margin-right: 25px;
    
    }
    .material-icons.testa.md-48 {
        font-size: 48px; 
       background-color: greenyellow;
       color: whitesmoke;
       padding: 5px;
       margin-top: -23px;
       margin-right: 25px;
       
       }
       .material-icons.testb.md-48 {
        font-size: 48px; 
       background-color: green;
       color: whitesmoke;
       padding: 5px;
       margin-top: -23px;
       margin-right: 25px;
       
       }
       .material-icons.testc.md-48 {
        font-size: 48px; 
       background-color:olive;
       color: whitesmoke;
       padding: 5px;
       margin-top: -23px;
       margin-right: 25px;
       
       }
 .containera {
        margin: 5px;
        }