<h1 mat-dialog-title>Modifier Stockage Olive</h1>
<form [formGroup]="editVenteform" (ngSubmit)="onSubmit(editVenteform.value)" >

        <mat-form-field class="example-full-width">
            <input matInput type="number" step="1" min="0"  placeholder="Qte Vente" formControlName="qte_Vente" (change)="onSearchChangea($event.target.value)">
            <span matSuffix>Kg</span>
            <mat-error *ngIf="hasError('qte_Vente', 'required')">Qte Vente is required</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
                <input matInput type="number" step="0.1" min="0" placeholder="Prix Unitaire" formControlName="prix_Unitaire" (change)="onSearchChangeb($event.target.value)">    
                <mat-error *ngIf="hasError('prix_Unitaire', 'required')">Prix Unitaire is required</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="number" step="1" min="0" placeholder="Qte Bidon" formControlName="qte_bidon" (change)="onSearchChangee($event.target.value)">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="number" step="1" min="0" placeholder="Prix Bidon" formControlName="prix_bidon" (change)="onSearchChangec($event.target.value)">
        </mat-form-field>
        <mat-form-field class="example-full-width">
                    <input matInput type="number" placeholder="Montant Vente" formControlName="montantVente">       
        </mat-form-field>

           
         
        <div class="example-full-width">
            <div fxLayout="row" >
            <button mat-raised-button fxFlex="50"  (click)="fermerDialog()"  >Reset</button>
          <button mat-raised-button fxFlex="50" color="primary" [disabled]="editVenteform.pristine || editVenteform.invalid" type="submit"  >Modifier</button>
          </div>
        </div>

      </form>