<div fxLayout="row" >
    <div fxFlex="20" class="showbox z-depth-2">    
            <div fxFlex="88">
                    <h2 matBadge="4" matBadgeOverlap="false"> {{dataSource[0].qte_En_Stock}} L</h2>
                    <h4>CHEIBI  - {{dataSource[0].prix_unitaire}}DT</h4>
            </div>  
            <div fxFlex="22">
                    <i class="material-icons md-48 z-depth-4 ">swap_horizontal_circle</i>
            </div> 
                         
    </div>
    <div fxFlex="20" class="showbox z-depth-2">
            <div fxFlex="88">
                    <h2 matBadge="4" matBadgeOverlap="false">{{dataSource[1].qte_En_Stock}} L</h2>
                    <h4>OCTOBRI  -  {{dataSource[1].prix_unitaire}} DT</h4>
            </div>  
            <div fxFlex="22">
                    <i class="material-icons testa md-48 z-depth-4 ">tab_unselected</i>
            </div> 
        </div>
    <div fxFlex="20" class="showbox z-depth-2">
            <div fxFlex="88">
                    <h2 matBadge="4" matBadgeOverlap="false">{{dataSource[2].qte_En_Stock}} L</h2>
                    <h4>MIXT   -  {{dataSource[2].prix_unitaire}} DT</h4>
            </div>  
            <div fxFlex="22">
                    <i class="material-icons testb md-48 z-depth-4 ">swap_vertical_circle</i>
            </div> 
            </div>
    <div fxFlex="20" class="showbox z-depth-2">
            <div fxFlex="88">
                    <h2 matBadge="4" matBadgeOverlap="false">{{dataSource[3].qte_En_Stock}} L</h2>
                    <h4>ARBAKINA  -  {{dataSource[3].prix_unitaire}} DT</h4>
            </div>  
            <div fxFlex="22">
                    <i class="material-icons testc md-48 z-depth-4 ">toll</i>
            </div> 
     </div>
     <div fxFlex="20" class="showbox z-depth-2">
            <div fxFlex="88">
                    <h2 matBadge="4" matBadgeOverlap="false">{{dataSource[4].qte_En_Stock}} L</h2>
                    <h4>SAHLI  -  {{dataSource[4].prix_unitaire}} DT</h4>
            </div>  
            <div fxFlex="22">
                    <i class="material-icons testc md-48 z-depth-4 ">branding_watermark</i>
            </div> 
     </div>
</div>