<h1 mat-dialog-title>Ajouter Vente Huile</h1>
<form [formGroup]="createGrignonsForm" (ngSubmit)="onSubmit(createGrignonsForm.value)" >

        <mat-form-field class="example-full-width">
            <input type="text" placeholder="Client" aria-label="Client" matInput formControlName="clientId" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredClients | async" [value]="option" >
                {{option.nom}} |
                <small>Tel: {{option.tel}}</small>
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="hasError('clientId', 'required')">Client is required</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Vehicule" formControlName="vehicule">
            
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Matricule" formControlName="matricule">
            
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Transporteur" formControlName="transporteur">
            
        </mat-form-field>
        <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="Chauffeur" formControlName="chaufeur">
                
            </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput type="number" step="1" min="0" placeholder="Poids" formControlName="poids" (change)="onSearchChangea($event.target.value)">
            <span matSuffix>Kg</span>
            <mat-error *ngIf="hasError('poids', 'required')">Poids is required</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
                <input matInput type="number" step="0.1" min="0" placeholder="Prix Unitaire" formControlName="prix_unitaire" (change)="onSearchChangeb($event.target.value)">
                <span matSuffix>DT</span>
                <mat-error *ngIf="hasError('prix_unitaire', 'required')">Prix Unitaire is required</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                    <input matInput type="number" placeholder="Montant Vente" formControlName="montantAchat">
                </mat-form-field>         
        <div class="example-full-width">
            <div fxLayout="row" >
            <button mat-raised-button fxFlex="50"  (click)="onNoClick()"  >Reset</button>
          <button mat-raised-button fxFlex="50" color="primary" [disabled]="createGrignonsForm.pristine || createGrignonsForm.invalid" type="submit"  >Ajouter</button>
          </div>
        </div>

      </form>