.container{
    width: 95%;
    margin-bottom: 20px;
}

.mat-row.hovered {
  background: #eee;
}

.mat-row.highlighted {
  background: #999;
}
.headercontact{
    padding-left: 20px;
}
.mat-form-field{
    padding-left: 15px;
}
.formfilter{
    margin-right:20px;
}

.badge-success{
  background-color: red;
}
.badge-primary {
  background-color: royalblue;
}
.badge-secondary {
  background-color:green;
}
.badge-warning {
  background-color: yellow;
}
.mat-card-subtitle .soldetext {
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.example-card-one {
    padding : 5px;
}
.headera {
    padding-top: 20px;
}
.cardpadding {
  margin-top: 30px;
}