<div fxLayout="row" >
    <div fxFlex="20" class="showbox z-depth-2">    
            <div fxFlex="88">
                    <h2 matBadge="4" matBadgeOverlap="false"> 000000 L</h2>
                    <h4>Trituration  - 0000DT</h4>
            </div>  
            <div fxFlex="22">
                    <i class="material-icons md-48 z-depth-4 ">swap_horizontal_circle</i>
            </div> 
                         
    </div>
    <div fxFlex="20" class="showbox z-depth-2">
            <div fxFlex="88">
                    <h2 matBadge="4" matBadgeOverlap="false">0000 L</h2>
                    <h4>Achat  -  00000 DT</h4>
            </div>  
            <div fxFlex="22">
                    <i class="material-icons testa md-48 z-depth-4 ">tab_unselected</i>
            </div> 
        </div>
    <div fxFlex="20" class="showbox z-depth-2">
            <div fxFlex="88">
                    <h2 matBadge="4" matBadgeOverlap="false">0000000 L</h2>
                    <h4>Vente   -  000000 DT</h4>
            </div>  
            <div fxFlex="22">
                    <i class="material-icons testb md-48 z-depth-4 ">swap_vertical_circle</i>
            </div> 
            </div>
    <div fxFlex="20" class="showbox z-depth-2">
            <div fxFlex="88">
                    <h2 matBadge="4" matBadgeOverlap="false">000000 L</h2>
                    <h4>Grignons  -  000000 DT</h4>
            </div>  
            <div fxFlex="22">
                    <i class="material-icons testc md-48 z-depth-4 ">toll</i>
            </div> 
     </div>
     <div fxFlex="20" class="showbox z-depth-2">
            <div fxFlex="88">
                    <h2 matBadge="4" matBadgeOverlap="false">00000 L</h2>
                    <h4>Caisse  - 000000 DT</h4>
            </div>  
            <div fxFlex="22">
                    <i class="material-icons testc md-48 z-depth-4 ">branding_watermark</i>
            </div> 
     </div>
</div>