<h1 mat-dialog-title>Ajouter Contact</h1>
<form [formGroup]="createclientForm" (ngSubmit)="onSubmit(createclientForm.value)" >
           <mat-form-field class="example-full-width">
                <input matInput placeholder="Nom" formControlName="nom">
                <mat-error *ngIf="hasError('nom', 'required')">Nom is required</mat-error>
          </mat-form-field>
         <mat-form-field class="example-full-width">
                <input matInput placeholder="Tel" formControlName="tel">
         </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Gsm" formControlName="gsm">
          <mat-error *ngIf="hasError('gsm', 'required')">Gsm is required</mat-error>
        </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Ville" formControlName="ville">
            <mat-error *ngIf="hasError('ville', 'required')">Ville is required</mat-error>
            </mat-form-field>
        <div class="form-element">
            <div fxLayout="row" >
            <button mat-raised-button fxFlex="50"  type="reset"  >Reset</button>
          <button mat-raised-button fxFlex="50" color="primary" [disabled]="createclientForm.pristine || createclientForm.invalid" type="submit"  >Ajouter</button>
        </div>
        </div>

      </form>